#gandhipeace-donation-tabs {
	margin: 0;
}

#gandhipeace-donation-tabs li {
	cursor: pointer;
}

#gandhipeace-donation-tabs-content > div {
	display: none;
}

#gandhipeace-donation-tabs-content > #gandhipeace-donation-tab-content-1 {
	display: block;
}
